<div role="button" class="o--user u--float--left {{if this.isSelected "selected"}}" data-test-id="social profile placeholder"
  {{on "click" (fn this.toggleSelect)}}
>
  <span class="o--user__avatar tAC--set__avatar tAC--set__avatar--{{this.platformAbbreviation}}" data-test-id="placeholder avatar">
    <i class="tAC--set__icon tAC--set__icon--{{this.platformAbbreviation}}"></i>
  </span>
</div>
